<div class="row" style="margin-left: 23%; margin-top: 5%">
  <div class="col s12 m8">
    <div class="card light-blue darken-1 z-depth-5">
      <div class="card-content white-text">
        <h3 style="text-align: center; font-family: poppins">
          Welcome to Quiz
        </h3>
        <ol style="margin-left: 18%; font-size: 1.3rem">
          <li><p>This quiz will contains total 10 questions.</p></li>
          <li><p>Each question holds 1 point.</p></li>
          <li><p>Correct question gives you 1 point.</p></li>
          <li><p>There is no negative points.</p></li>
        </ol>
      </div>
      <div class="card-action" style="margin-left: 21%">
        <a
          class="waves-effect white waves-light btn-large"
          routerLink="/register"
          style="color: #039be5; font-weight: bold; margin-bottom: 3%"
          >Click here to register and begin</a
        >
      </div>
    </div>
  </div>
</div>
<img
  src="/assets/img/best-luck.png"
  style="width: 250px; height: 170px; margin-left: 40%"
  class="offset-s3"
/>
